@import 'variables';
@import 'mixins'; // Global Components

//
//  Equal Height Columns
//

@media(min-width:768px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .row-eq-height > [class*='col-md-'] {
    display: flex;
    flex-direction: column;
  }
}

//
//  Global Section Styles
//

body {
  @include body-font;
  overflow-x: hidden;
}

footer {
  background-color: $theme-base;
  padding: 15px 0;

  span.copyright {
    @include heading-font;
    color: $gray-lighter;
    text-transform: none;
  }
}

//
//  Text Styles
//

.text-muted {
  color: $gray-light;
}

.text-primary {
  color: $theme-primary;
}

.text-base {
  color: $theme-base;
}

p {
  font-size: 16px;
  line-height: 1.75;

  .large {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
}

//
// Image Styles

.img-centered {
  margin: 0 auto;
}

//
// Button Styles
//

.btn {
  border-radius: 0;
  font-weight: 700;
}

.btn.active,
.btn:active,
.btn:active:focus,
.btn:focus {
  outline: none;
}

.btn-default {
  @include button-variant($gray-dark, $white, $gray-dark);
}

.btn-primary {
  @include button-variant($theme-base, $theme-primary, $theme-base);
}

.btn-theme {
  @include button-variant($theme-primary, $theme-base, $theme-primary);
}

.btn-lg {
  font-size: 16px;
  padding: 10px 20px;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.button-toolbar {
  text-align: center;

  button, a {
    display: inline-block;
    margin: 10px;
  }
}

// Link Styles

a,
a.active,
a:active,
a:focus,
a:hover {
  outline: none;
}

a {
  color: $theme-primary;
}

a.active,
a:active,
a:focus,
a:hover {
  color: darken($theme-primary, 10%);
}



//
//  Navbar styles
//

//Custom Navigation Theme

.navbar-custom {
  background-color: $theme-base;
  border-color: transparent;

  .navbar-brand {
    // @include script-font;
    color: $theme-primary;

    &:focus {
      color: $theme-primary;
      // color: darken($theme-danger, 10%);
    }

    &.active,
    &:active,
    &:hover {
      color: $white;
      // color: darken($theme-danger, 10%);
    }
  }

  .navbar-collapse {
    border-color: fade-out($white, .02);
  }

  .navbar-toggle {
    @include heading-font;
    background-color: $theme-base;
    // border-color: $theme-primary;
    color: $white;
    font-size: 12px;

    &:focus,
    &:hover {
      background-color: $theme-primary;
      border: $theme-primary;
      color: $theme-base;
    }
  }

  .nav {
    li {
      a {
        @include heading-font;
        color: $white;
        font-weight: 400;
        letter-spacing: 1px;

        &:focus,
        &:hover {
          color: $theme-primary;
          outline: none;
        }
      }
    }
  }

  .navbar-nav > .active > a {
    background-color: $theme-primary;
    border-radius: 0;
    color: $theme-base;
    font-weight: 500;
  }

  .navbar-nav > .active > a:focus,
  .navbar-nav > .active > a:hover {
    background-color: $theme-primary;
    color: $theme-base;
  }
}

// Responsive Navbar (> tablet)

@media(min-width:768px) {
  .navbar-custom {
    background-color: transparent;
    border: 0;
    padding: 25px 0;
    -moz-transition: padding 0.2s;
    -webkit-transition: padding 0.2s;
    transition: padding 0.2s;

    .navbar-brand {
      font-size: 2em;
      -moz-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }

    .navbar-nav > .active > a {
      border-radius: 0;
    }
  }
}

// Navbar Change on Scroll

@media(min-width:768px) {
  .navbar-custom.affix {
    background-color: $theme-base;
    padding: 10px 0;

    .navbar-brand {
      font-size: 1.5em;
    }
  }
}


//
//  Header Styles
//

header {
  @include background-cover;
  background-attachment: scroll;
  background-image: $image-hero;
  background-position: center center;
  background-repeat: no-repeat;
  color: $white;
  text-align: center;

  .intro-text {
    padding-bottom: 90px;
    padding-top: 90px;

    .intro-hash {
      color: $theme-primary;
      font-size: 72px;
      font-weight: 300;
    }

    .intro-name {
      // @include serif-font;
      font-size: 48px;
      font-weight: 500;
      line-height: 36px;
      margin-bottom: 15px;
      transform: uppercase;
    }

    .intro-lead {
      // @include heading-font;
      font-size: 32px;
      font-weight: 300;
      line-height: 32px;
      margin-bottom: 25px;
    }
  }
}

// Responsive Header (> tablet)

@media(min-width:768px) {
  header {
    .intro-text {
      padding-bottom: 200px;
      padding-top: 150px;

      .intro-hash {
        font-size: 96px;
      }

      .intro-name {
        font-size: 72px;
        line-height: 72px;
      }

      .intro-lead {
        font-size: 48px;
        line-height: 48px;
      }
    }
  }
}

// Responsive Header (> 992px)

@media(min-width:992px) {
  header {
    .intro-text {
      padding-bottom: 220px;
      padding-top: 160px;

      .intro-hash {
        // color: $theme-primary;
        font-size: 112px;
      }

      .intro-name {
        font-size: 84px;
        line-height: 84px;
      }

      .intro-lead {
        font-size: 56px;
        line-height: 56px;
        margin-bottom: 50px;
      }
    }
  }
}

//
// Global Section Styles
//

section {
  padding: 75px 0;

  h2.section-heading {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 0;
  }

  h3.section-subheading {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: none;
  }

  h3.section-subheading:last-child {
    margin-bottom: 75px;
  }
}

// Section Responsive Styles (> tablet)

@media(min-width:768px) {
  section {
    padding: 100px 0;
  }
}

//
// Skills Section
//

.skills-heading {
  margin: 15px 0;
  // text-transform: none;
}

//
// Experience Section
//

#experience {
  background: $background-tint;
}

//
// Timeline Styles
//

.timeline {
  list-style: none;
  padding: 0;
  position: relative;

  &:before {
    background-color: fade-out($theme-base, .8);
    bottom: 0;
    content: '';
    left: 40px;
    margin-left: -1.5px;
    position: absolute;
    top: 0;
    width: 4px;
  }

  > li {
    margin-bottom: 50px;
    min-height: 50px;
    position: relative;

    &:after,
    &:before {
      content: ' ';
      display: table;
    }

    &:after {
      clear: both;
    }

    .timeline-panel {
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left;
      width: 100%;

      &:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }

      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }

    .timeline-image {
      background-color: $theme-primary;
      border-radius: 100%;
      border: 7px solid $theme-primary;
      color: $white;
      height: 80px;
      left: 0;
      margin-left: 0;
      position: absolute;
      text-align: center;
      width: 80px;
      z-index: 100;

      h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px;
      }
    }

    &.timeline-inverted .timeline-image {
      border-color: $theme-base;
    }

    &.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 20px 0 100px;
      text-align: left;

      &:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }

      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .timeline-button {
      padding-top: 20px;
    }
  }

  .timeline-heading {
    h4 {
      color: inherit;
      margin-top: 0;

      &.subheading {
        text-transform: none;
      }
    }
  }

  .timeline-body {
     > p,
    > ul {
      margin-bottom: 0;
    }
  }
}

// Responsive Timeline Styles (>tablet)

@media(min-width:768px) {
  .timeline {
    &:before {
      left: 50%;
    }

    > li {
      margin-bottom: 100px;
      min-height: 100px;

      .timeline-panel {
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
        width: 41%;
      }

      .timeline-image {
        height: 100px;
        left: 50%;
        margin-left: -50px;
        width: 100px;

        h4 {
          font-size: 13px;
          line-height: 18px;
          margin-top: 16px;
        }
      }

      &.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
      }

      .timeline-button {
        padding-top: 32px;
      }
    }
  }
}

// Responsive Timeline Styles (>992)

@media(min-width:992px) {
  .timeline {
    > li {
      min-height: 150px;

      .timeline-panel {
        padding: 0 20px 20px;
      }

      .timeline-image {
        height: 150px;
        margin-left: -75px;
        width: 150px;

        h4 {
          font-size: 18px;
          line-height: 26px;
          margin-top: 30px;
        }
      }

      &.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
      }

      .timeline-button {
        padding-top: 60px;
      }
    }
  }
}

// Responsive Timeline Styles (>1200)

@media(min-width:1200px) {
  .timeline {
    > li {
      min-height: 170px;

      .timeline-panel {
        padding: 0 20px 20px 100px;
      }

      .timeline-image {
        height: 170px;
        margin-left: -85px;
        width: 170px;

        h4 {
          margin-top: 40px;
        }
      }

      &.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
      }
    }
  }
}

//
// Portfolio Section
//

#portfolio {
  background-color: $white;

  .portfolio-item {
    margin: 0 0 15px;
    right: 0;

    img {
      border: 1px solid $gray-lighter;
      // margin-bottom: 30px;
    }

    .no-border {
      border: 0;
    }

    .portfolio-link {
      display: block;
      margin: 0 auto;
      max-width: 400px;
      position: relative;

      .portfolio-hover {
        background: fade-out($theme-primary, .25);
        height: 100%;
        opacity: 0;
        position: absolute;
        width: 100%;
        -webkit-transition: all ease 0.25s;
        -moz-transition: all ease 0.25s;
        transition: all ease 0.25s;

        &:hover {
          opacity: 1;
        }

        .portfolio-hover-content {
          color: $white;
          font-size: 20px;
          height: 20px;
          margin-top: -12px;
          position: absolute;
          text-align: center;
          top: 50%;
          width: 100%;

          i {
            margin-top: -12px;
          }

          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }

    .portfolio-caption {
      background-color: $white;
      margin: 0 auto;
      max-width: 400px;
      padding: 25px;
      text-align: center;

      h4 {
        margin: 0;
        text-transform: none;
      }

      p {
        @include serif-font;
        font-size: 16px;
        font-style: italic;
        margin: 0;
      }
    }
  }

  * {
    z-index: 2;
  }
}

// Responsive Portfolio Styles (>tablet)

@media(min-width:767px) {
  #portfolio {
    .portfolio-item {
      margin: 0 0 30px;
    }
  }
}

//
// Contact Styles
//

#contact {
  background-color: $theme-base;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;

  .section-heading {
    color: $white;
  }

  h3.section-subheading {
    color: $gray-lighter;
    font-style: normal;
  }
}

// Social Buttons

.social-buttons {
  margin-bottom: 0;
  text-align: center;

  li a {
    background-color: $theme-primary;
    border-radius: 100%;
    color: $theme-base;
    display: block;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    outline: none;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 60px;

    &:active,
    &:focus,
    &:hover {
      background-color: $white;
      color: $theme-base;
    }
  }
}

//
// Portfolio Modal Styles
//

.portfolio-modal {
  .modal-dialog {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .modal-content {
    background-clip: border-box;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    min-height: 100%;
    padding: 30px 0;
    text-align: center;

    h2 {
      font-size: 3em;
    }

    p {
      margin-bottom: 15px;
    }

    p.item-intro {
      @include serif-font;
      font-size: 16px;
      font-style: italic;
      margin-bottom: 30px;
    }

    li {
      list-style: none;
    }

    ul {
      margin-bottom: 30px;
      margin-top: 0;
      padding-left: 0;
    }

    img {
      border: 1px solid $gray-light;
      margin-bottom: 30px;
    }

    .no-border {
      border: 0;
    }

    .modal-label {
      font-weight: 600;
    }

    .modal-right {
      text-align: left;
    }
  }

  .close-modal {
    background-color: transparent;
    cursor: pointer;
    height: 75px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 60px;
    z-index: 1051;

    &:hover {
      opacity: .3;
    }

    .lr {
      background-color: $gray-darker;
      height: 45px;
      margin-left: 30px;
      -ms-transform: rotate(45deg);
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      /* Safari and Chrome */
      transform: rotate(45deg);
      width: 1px;
      z-index: 1051;

      .rl {
        background-color: $gray-darker;
        height: 45px;
        -ms-transform: rotate(90deg);
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        /* Safari and Chrome */
        transform: rotate(90deg);
        width: 1px;
        z-index: 1052;
      }
    }
  }

  .modal-backdrop {
    display: none;
    opacity: .5;
  }
}

// Highlight Color Customization

::-moz-selection {
  background: $theme-primary;
  text-shadow: none;
}

::selection {
  background: $theme-primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $theme-primary;
}
