<div class="col-md-4">
  <span class="fa-stack fa-4x">
    <i class="fa fa-circle fa-stack-2x text-base"></i>
    <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
  </span>
  <h4 class="service-heading">Strategy</h4>
  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
</div>
